nav{
    background-color: #FFC7FF;
    width: 100%;
    font-family: ; color: ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 5px 5px 5px 5px;
}
h2{
    align-items: center;
    font-family: Verdana;
    font-size: 19px;
    margin-top: 30px;
    text-align: center;
}
.h2{
    align-items: center;
}
.Politicas{
    text-decoration: none;
    font-family: ; color: #000000;
    margin-left: 20px;
}
body{
    background-color: #FFF0F5;
}
.Slogan{
    font-family: ;
    font-size: 10px; color: ;
}
.Profile{
    width: 70px;
    height: 70px;
    border: solid; 1px;
    border-radius: 38px 38px 38px 38px;
    margin-top: 20px;
}
.Intro{
    text-align: ;
    font-family: ; color: ;
    font-size: ;
    
}
a{
    text-decoration: none;
}
.logos{
    display: flex;
    justify-content: space-evenly;
}
.Instagram{
    padding: 15px 15px 15px 15px;
    padding-left: 60px;
    align-items: center;
}
.Facebook{
    border-radius: 25px 25px 25px 25px;
    padding: 15px 15px 15px 15px;
    align-items: center;
}
.TikTok{
    padding: 15px 15px 15px 15px;
    border-radius: 25px px 35px;
    align-items: center;
}
.Arreglos{
    display: flex;
    align-items: space-between;
    justify-content: space-evenly;
}
.Arreglos .A1{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.Arreglos .A2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Arreglos .A3{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.Rosas{
    font-family: ;
    font-size: ; color: ;
    text-decoration: none;
    display: flex;
}
}
.Girasoles{
    font-family: ;
    font-size: ; color: ;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}
.Tulipanes{
    font-family: ;
    font-size: ; color: ;
    text-decoration: none;
    display: flex;
}
}
.Gerberas{
    font-family: ;
    font-size: ; color: ;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}
.Cajas{
    font-family: ;
    font-size: ; color: ;
    text-decoration: none;
    display: flex;
}
}
.Bouquet{
    font-family: ;
    font-size: ; color: ;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}
footer{
    text-align: center;
    font-family: ;
    font-size: ; color: ;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FFC7FF;
    width: 100%;
}

#FFF0F5
#FFC0CB
#FFC7FF